services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: 1000
    ports:
      - 4200:4200
    volumes:
      - node_modules:/usr/src/app/node_modules
      - ./src:/usr/src/app/src

volumes:
  node_modules:

